* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: white;
}

.App {
  height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.books {
  display: flex;
  gap: 20px;
  margin-bottom: 1rem;
}

.booksTitle {
  margin-bottom: 50px;
  width: 100%;
  background-color: black;
  color: white;
  -webkit-box-shadow: 0px 1px 10px 6px rgba(34, 60, 80, 0.13);
  -moz-box-shadow: 0px 1px 10px 6px rgba(34, 60, 80, 0.13);
  box-shadow: 0px 1px 10px 6px rgba(34, 60, 80, 0.13);
}

.bookTitle {
  color: blue;
}

.book {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 10px 6px rgba(34, 60, 80, 0.13);
  -moz-box-shadow: 0px 1px 10px 6px rgba(34, 60, 80, 0.13);
  box-shadow: 0px 1px 10px 6px rgba(34, 60, 80, 0.13);
}

.deleteBook {
  border: none;
  padding: 3px 6px;
  background-color: white;
  cursor: pointer;
  border: 1px solid rgb(245, 191, 191);
  color: rgb(242, 100, 100);
}

.updateBook {
  border: none;
  padding: 3px 6px;
  background-color: white;
  cursor: pointer;
  border: 1px solid rgb(204, 204, 243);
}

.updateBook a {
  color: rgb(139, 139, 234);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.formButton {
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  background-color: lightcoral;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

input {
  padding: 10px 20px;
  height: 40px;
  width: 250px;
  font-size: 24px;
  border: 1px solid green;
}